<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('./partials/head.ejs') %>
    <link rel="stylesheet" href="/public/css/style.css">
</head>


<body>
    <div>
        <header class="brand">Welcome to West Coast Best Coast Bed & Breakfast Search</header>
        <h1>Add a place of stay to our directory!</h1>
        <form action="/bed" method="POST">
            <h2>Location:</h2> <input id="edit" type="text" name="location" /><br />
            <h2>Name:</h2> <input id="edit" type="text" name="name" /><br />
            <h2>Image Link:</h2> <input id="edit" type="text" name="img" /><br />
            <h2>Cost:</h2> <input id="edit" type="text" name="cost"/>
            <h2>State:</h2> <input id="edit" type="text" name="state" placeholder="state"/>
            <h2>Link to site:</h2> <input id="edit" type="text" name="link" /><br />
            <h2>Latitude:</h2> <input id="edit" type="number" name="lat" />
            <h2>Longitude:</h2> <input id="edit" type="number" name="lng" /><br />
            <h2>About:</h2> <input id="edit" type="text" name="about"/><br />
            <h2><input type="submit" name="" value="Add a New B&B" /></h2>
        </form>
        <button><a href="/bed">Back to Homepage</a></button>
    </div>
    
</body>
</html>